.city-and-buttons {
  display: flex;
  height: 100%;
  width: 100%;

  align-items: center;

  flex-direction: column;
  justify-content: space-between;

  .city {
    flex-grow: 1;

    box-sizing: border-box;
    margin: 40px 0;

    width: 100%;

    animation: fadeInLoad 0.3s;
    -webkit-animation: fadeInLoad 0.3s;

    canvas {
      display: block;
    }
  }

  @keyframes fadeInLoad {
    from {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInLoad {
    from {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .buttons {
    flex-shrink: 0;
    max-width: 800px;
  }

  // TODO: Do this plain, no pure
  .pure-button {
    font-size: 4em;
    color: #fff;

    border-radius: 4px;
    border: solid 1px rgba(100, 100, 100, 0.3);
    box-shadow: 0 0 30px rgba(100, 100, 100, 0.2);

    margin-bottom: 20px;
    padding: 20px 2px;
  }

  .startPomodoro {
    background-color: #006acc;

    width: 100%;

    font-size: 9em;
    line-height: 95%;
    font-weight: bolder;
  }

  .takeABreak, .notNow {
    float: left;
    width: 49%;

    box-sizing: border-box;
    height: 101px;

    line-height: 0.62;
  }

  .takeABreak {
    background-color: #1aa73b;
    margin-right: 2%;

    small {
      font-size: 60%;
      opacity: 0.9;
    }
  }

  .notNow {
    background-color: #aeaeae;
  }

  .failed-tag {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);

    margin: 0;

    font-size: 18vw;
    color: rgba(255,0,0,0.6);
    text-shadow: 0 0 5px rgba(150, 0, 0, 0.3);
  }
}