@import 'libs/pure-min.css';
@import 'libs/font-awesome.min.css';
@import '../bower_components/hopscotch/dist/css/hopscotch.min.css';

@font-face {
  font-family: 'tertreextra_bold';
  src: url('/styles/fonts/tertre-xbol-webfont.eot');
  src: url('/styles/fonts/tertre-xbol-webfont.eot?#iefix') format('embedded-opentype'),
  url('/styles/fonts/tertre-xbol-webfont.woff2') format('woff2'),
  url('/styles/fonts/tertre-xbol-webfont.woff') format('woff'),
  url('/styles/fonts/tertre-xbol-webfont.ttf') format('truetype'),
  url('/styles/fonts/tertre-xbol-webfont.svg#tertreextra_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabin';
  src: url('fonts/cabin-bold-webfont.eot');
  src: url('fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/cabin-bold-webfont.woff2') format('woff2'),
  url('fonts/cabin-bold-webfont.woff') format('woff'),
  url('fonts/cabin-bold-webfont.ttf') format('truetype'),
  url('fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cabin';
  src: url('fonts/cabin-regular-webfont.eot');
  src: url('fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/cabin-regular-webfont.woff2') format('woff2'),
  url('fonts/cabin-regular-webfont.woff') format('woff'),
  url('fonts/cabin-regular-webfont.ttf') format('truetype'),
  url('fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$light-background: #A5D6F5;
$dark-background: #384145;

@import 'city-and-buttons.scss';
@import 'options.scss';
@import 'bad-tabs-warning.scss';
@import 'metrics-panel.scss';

a {
  text-decoration: none;
  color: inherit;
}

input[type=text] {
  color: #222;
}

button {
  padding: .5em 1em;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

button:focus, button:hover {
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
  outline: 0;
}

button:active {
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.2) inset, 0 0 6px rgba(0,0,0, 0.3) inset;
  border-color: #000;
}

html {
  height: 100%;

  body {
    min-height: 100%;
    height: inherit;
    padding: 0;
    margin: 0;

    text-align: center;

    font-family: 'tertreextra_bold';

    background-color: $light-background;
    background-image: radial-gradient(circle at 50% 40%, #C8E0EF 0%, #a1d2e8 95%);
  }

  main {
    background-color: $light-background;
    background-image: radial-gradient(circle at 50% 40%, #C8E0EF 0%, #a1d2e8 95%);

    height: 100%;
    position: relative;

    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: filter, -webkit-filter;
    transition-duration: 0.2s;
    transition-property: filter, -webkit-filter;
  }
}

.logo {
  position: absolute;
  top: 16px;
  left: 15px;

  box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);

  img {
    display: block;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background: linear-gradient(20deg, transparent 65%, rgba(255, 255, 255, 0.6) 95%);
  background-clip: padding-box;

  border-style: solid;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(to right, transparent 75%, #fff 95%);
  border-image-slice: 1;

  a {
    padding: 20px 30px 20px;
    box-sizing: border-box;
    width: 155px;

    font-size: 20pt;
    color: #384145;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    &.active {
      background: radial-gradient(circle at 50% 100%, rgba(255,255,255, 0.8), transparent 50%);
    }

    &:hover {
      color: #000;
      background: linear-gradient(rgba(200, 200, 200, 0.3), rgba(180, 180, 180, 0.3));
    }
  }
}

.feedback {
  @extend .pure-button;

  position: absolute;
  left: 0;
  bottom: 285px;

  padding: 5px 15px;
  border-bottom: none;
  border-radius: 3px 3px 0 0;

  color: #fff;
  background-color: #006acc;

  font-size: 20pt;

  transform: rotate(90deg);
  transform-origin: bottom left;
}

.tour-intro-tour li {
  padding: 5px 0;
}

.faded {
  -webkit-filter: blur(1px) brightness(60%) saturate(50%);
  filter: blur(1px) brightness(60%) saturate(50%);
  pointer-events: none;
}
