main.options {
  padding: 76px;
  box-sizing: border-box;

  h1, section {
    margin: 0 auto;
    text-align: left;
    width: 600px;
  }

  h1 {
    font-size: 38pt;
  }

  section {
    font-family: "trebuchet ms", arial, sans-serif;
    font-size: 110%;
    padding: 20px 0;

    h3 {
      font-size: 20pt;
      padding: 0;
      margin: 0 0 10px 0;
    }
  }

  .badTabsWarningAction {
    p {
      font-family: 'Cabin', arial, sans-serif;
      width: 400px;
      font-size: 11pt;
    }

    select {
      font-size: 15pt;
      padding: 3px;
    }
  }

  .domainPatterns {
    form {
      display: inline-block;

      input[type=text] {
        box-sizing: border-box;
        min-width: 300px;
        height: 35px;
        margin-top: 1px;
        padding: 3px;
        border: none;
      }

      button[type=submit] {
        box-sizing: border-box;
        height: 35px;
        margin-top: -4px;

        background-color: #0078e7;
        color: #fff;

        font-weight: bold;
      }
    }

    ul {
      clear: both;
      list-style: none;
      padding-left: 0;

      li {
        margin: 5px 0;
      }

      .deleteButton {
        cursor: pointer;
        color: #f00;
        padding: 2px;
      }

      .domainName {
        display: inline-block;
        width: 50%;
        margin-top: 2px;
      }
    }
  }
}